.main{
    background-color: rgb(12, 91, 97);
}
.logo img{
    width: 40%;
    margin-left: -40%;
}
.me-auto{
    margin-left: -15%;
    font-size: large;
    color: white;
}
.d-flex{
    margin-right: 10%;
}
#navbarScrollingDropdown{
    color: white;
}